<h1>Pirate</h1>
<h1>Name: <%= @pirate.name%></h1>
<h2>Height: <%= @pirate.height%></h2>
<h2>Weight: <%= @pirate.weight%></h2>

<h1>Ships</h1>
<% @ships.each do |ship| %>
<h1>Name: <%= ship.name%></h1>
<h2>Type: <%= ship.type%></h2>
<h2>Booty: <%= ship.booty%></h2>

<% end %>